<button class="btn btn-primary" ui-sref="item">New Item</button>
<button class="btn btn-primary" ui-sref="add">Calculate</button>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Energy</th>
            <th>Sodium</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in items">
            <td>{{value.itemname}}</td>
            <td>{{value.protein}}</td>
            <td>{{value.fat}}</td>
            <td>{{value.carbs}}</td>
            <td>{{value.energy}}</td>
            <td>{{value.sodium}}</td>
            <td><a href="" ui-sref="item({documentId: key, documentRevision: value._rev})">edit</a> | <a href="" ng-click="delete(value._id, value._rev)">delete</a></td>
        </tr>
    </tbody>
</table>
